@charset "UTF-8";

div.slimScrollDiv { height: 82px !important; }
.skin-blue .main-header .navbar { background-color: #374850; }
.skin-blue .main-header .logo { background-color: #374850; padding-top: 9px; }
.skin-blue .main-header .navbar .sidebar-toggle:hover { background-color: #455a64; }
.skin-blue .main-header .logo:hover { background-color: #455a64; }
.graph_mid { border: 0; background: transparent; min-height: 240px; margin-bottom: 10px; color: #444; }
.text-spark { color: #374850; }
.skin-blue .sidebar-menu>li:hover>a, .skin-blue .sidebar-menu>li.active>a { border-left-color: #388e3c; }

.pad-frm-top { padding-top: 25px; padding-bottom: 0; }
.req-fld { color: #dd4b39; }
.boxpad { padding: 0 10px; }
.boxpadBottm { padding-bottom: 0 10px 25px; }
.btnspace { margin: 0 2px; } 
.radioDisplay { display: inline-block; padding-right: 30px; }

.table-hover>tbody>tr:hover { background-color: #ecf0f5; }

.btn-box-table-inner {
	padding: 0px 8px;
    font-size: 16px;
    /* color: #2C3B43; */
}

.btn-box-table-inner:hover {
    /* color: #fe6a20; */
}
/* 
.btn-box-table-inner:focus, .btn-box-table-inner:active, .btn-box-table-inner:hover {
	outline: 0 !important;
} */
.checkboxWidthF { display: inline-block; width: 100%; }
.checkboxTxtPad { padding-left: 10px; }
.checkboxPermis { display: inline-block; width: 100%; margin: 0 auto; }
.checkboxPermisMap { display: inline-block; width: 50%; margin: 0 auto; }
.checkboxPermisHead { text-align: center; }
.checkboxPermisCenter { padding-left: 0px !important; margin: 0 auto; text-align: center; width: 100%; }
.checkboxPermisLeft { padding-left: 0px !important; margin: 0 auto; text-align: Left; width: 100%; }
.radioPermisLeft { padding-left: 0px !important; margin: 0 auto; text-align: Left; width: 100%; }
.tableHeadExportTxt { padding-top: 8px; }
.dtablLblTxt { font-weight: 400 !important; }
select[multiple], select[size] {
    height: 240px !important;
}
.txtAlgnCenter { text-align: center; padding: 40% 0; margin: 0; }
.midBtnStyles { width: 46% !important; margin: 10px 24% !important; padding: 6px !important; }
input[type=file] { width: 100%; }
.dashboardIconOutline { line-height: inherit !important; }
.dashboardIconTxt { font-weight: normal; font-size: 12px; }

.page-header { padding-top: 20px !important; padding-bottom: 0 !important; }
.lead { font-size: 1.3em !important; }

.sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > a > .pull-right-container { top: -16px !important; }
.skin-blue .treeview-menu>li>a { text-overflow: ellipsis; white-space: nowrap; overflow: hidden; word-wrap: break-word; }

table.dataTable thead > tr > th { padding-right: 0 !important; background: #d2d6de;}
.table>tfoot>tr>th { padding-right: 0 !important; }
.checkboxTablHead { display: inline-block; margin: 0px 5% 0 22%; width: 73%; }
.checkboxThTxt { padding-left: 10px; font-weight: bold; float: right; }
.checkboxPermisCentr { padding-left: 0px !important; margin: 0 auto; text-align: Left; width: auto; }
.content { min-height: auto; }
.checkboxTablHeads { display: inline-block; margin: 0px 0% 0 32%; width: 68%; }
.table > thead > tr > th { background: #d2d6de; }


textarea {
    resize: none;
}
.box-footer { padding: 10px 0 !important; }
table.dataTable { width: 100% !important; }

.homeBrand { border-top: 3px solid #388e3c; }
.homeBrandBg {
	background: url('../images/home_map.png') no-repeat top right #FFF;
	border: 0;
	border-radius: 0;
	box-shadow: none;
	margin-bottom: 0;
	padding: 0;
	height: auto;
}
.homeTxtBg {
	background: rgba(96, 125, 139, 0.6);
    margin-right: 47%;
    padding: 5% 3%;
}
.homeImgDiv {
	text-align: center;
    width: 100%;
    float: left;
    margin-bottom: 20px;
}
.homeTxtDiv p{
	font-size: 14px;
    text-align: justify;
    padding-top: 0;
    color: #FFF;
    font-weight: 600;
}

.select2-container { width: 100% !important; }
.toggle.btn { width: 100% !important; border-radius: 0; }
.btnspaceLists { margin: 10px; } 

canvas{
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.floating-button{
	background-color: #388E3C;
	position: fixed;
	bottom: 50px;
	right: 50px;
	z-index: 999;
	width: 50px;
	height: 50px;
	color: #FFF;
	border-radius: 50px;
	text-align: center;
	line-height: 50px;
	font-size: 1.5em;
	cursor: pointer;

	-moz-box-shadow:   0 5px 15px rgba(0, 0, 0, 0.4);
   -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
   box-shadow:         0 5px 15px rgba(0, 0, 0, 0.4);
}

.floating-button:hover{
	-moz-box-shadow:   0 5px 30px rgba(0, 0, 0, 0.3);
   -webkit-box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
   box-shadow:         0 5px 30px rgba(0, 0, 0, 0.3);
}

.descriptions{
	width: 12em;
}
.text-overflow-hidden{
	max-width: 12em;
    white-space: nowrap;
	overflow: hidden;
	margin: 1px 1px !important;
	padding: 0px;
	float: left;
	text-overflow: ellipsis;
}

.actions{
	min-width: 110px;
}

.word-wrap{
	max-width: 100px;
	word-wrap: break-word;
	white-space: pre-wrap;  
}

.datepicker{ z-index:99999 !important; }

.actions-fix-wd-1{
	width: 125px !important
}
.actions-fix-wd-2{
	width: 160px !important;
}
.actions-fix-wd-3{
	width: 180px !important;
}
.actions-fix-wd-4{
	width: 230px !important;
}
.actions-fix-wd-5{
	width: 280px !important;
}

.small-help-text{
	font-size: 12px;
	font-weight: normal;
	color: rgb(87, 87, 87);
}